.pokemon{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    height: 250px;
}

/* Forzar al slider a no desbordarse */
.slider.slider-horizontal {
    width: 100% !important;
}
#txtataque {
    width: 100%;
}